/* Global Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 150px;
  margin-left: 300px;
  text-align: left;
}

/* Local Styles */

.container label {
  margin-right: 5px;
  font-size: 35px;
}

.container input {
  font-size: 35px;
  display: block;
}

.name h1 {
  font-size: 60px;
  display: inline;
  margin-right: 50px;
}

/* Buttons */
.button {
  border: 1px solid #dddddd;
  background-color: white;
  color: #333333;
  font-size: 30px;
  padding: 12px 20px;
  border-radius: 8px;
  transition: 0.1s ease-in;
  outline: none; /*remove chrome black outline*/
  
  margin-top: 50px;
  margin-left: 20px;
}

.button:hover {
  color: dodgerblue;
  border-color: white;
  box-shadow: 0 0 0 1px rgb(124, 189, 255);
  cursor: pointer;
}